div {
    width: 200px;
    height: 200px;
    position: absolute;
    transition: all 300ms;
}

#grön {
    background: darkgreen;
    margin: 200px 200px;
    clip-path: circle(100%)
}

#grön:hover {
    background: lightgreen;
    clip-path: circle(50%);
    z-index: 0;
}

#grönröd {
    background: darkgreen;
    margin: 200px 200px;
    clip-path: circle(100%);
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

#grön:hover ~ #grönröd {
    background: lightgreen;
    clip-path: circle(50%);
    z-index: 4;
    opacity: 100%;
}

#röd {
    background: red;
    margin: 300px 300px;
    z-index: 1;
}

#röd:hover {
    transform: rotate(45deg);
}

#blå {
    background: blue;
    margin: 400px 400px;
}

#blå:hover {
    background: rgba(0,0,0,0%);
}